body{
    background-color: green;
}

main{
    display: block;
    width: 90%;
    margin: auto;
}

div{
    display: inline-block;
    width: 13%;
    background-color: rgb(161, 37, 37);
    border: 1px solid black;
    font-size: 16px;
    text-align: center;
    padding: 5vh 0;
}

div:hover {
    background-color: lightblue;
    cursor: pointer;
}

.restricted:hover{
    background-color: rgb(173, 143, 42);
    cursor: default;
}

div p {
    padding-top: 10px;
}


section{
    font-size: 0px;
}

#calendarHeader div{
    /* overflow: scroll; */
    font-weight: bold;
    /* background-color: beige; */
    border-radius: 10px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 0px;
    top: 10vh;
    left: 30vw;
    width: 30vw; /* Full width */
  }

.modal div {
    width: 100%;
}